---
layout: default
bodyClass: "page-categories"
---
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  {% for post in site.categories %}
  <div class="col-12 col-md-3 mb-3">
    <div class="card">
      <div class="image-cover-category" style="background: url('{{post.image}}');"><img src="" class="card-img-top" /></div>
      <div class="card-body">
       
        <h2 class="service-title"><a href="{{ post.url | relative_url }}">{{ post.name }}</a></h2>
        </div>
    </div>
  </div>
  
 {% endfor %}
</div>
</div>

<div class="strip pt-4" ><div class="container">
  <h1>Featured Products</h1>
  <!-- <p class="service service-summary">Featured products this week</p> -->


</div></div>


<div class="strip">
  <div class="container pt-1 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_products | default: 12 %}
      {% for product in site.products limit: limit %}
      {% if product.featured %}
      <div class="col-12 col-md-4 mb-4">
        <div class="card">
          <div class="image-cover" style="background: url('{{product.photos[0]}}');"><img src="" class="card-img-top" /></div>
          
          <div class="card-body">
            <span class="badge badge-light">{{ product.category }}</span>
            <h2>
              <a href="{{ product.url | relative_url }}">{{ product.title }}</a></h2>
              <h6 class="card-subtitle mb-2 "><del class="text-muted">₹{{product.priceBefore}}</del> <mark> ₹{{product.priceAfter}} </mark></h6>
              <!-- <p class="card-text service service-summary">{{ product.description | truncate: 100 }}</p> -->
              {% if product.stock %}
      {% if product.stock == 0 %} <button class="btn btn-disabled" disabled>Sold Out</button>{% endif %}
      {% if product.stock >= 1 %} <a href="#" class="btn btn-primary">Order Now</a> {% endif %}
      {% endif %}
              <a href="{{ product.url | relative_url }}" class="card-link">View Details</a>
              <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>
      </div>
      {% endif%}
      {% endfor %}
    </div>
    
  </div>
</div>
    
