---
layout: default
bodyClass: "page-product"
---
<script type="text/javascript" src="{{ '/assets/js/splide.min.js' | relative_url }}"></script>
<div class="container pb-6 pt-0 pt-md-5 pb-md-10">
  <div class="row justify-content-start">
   
    {% if page.photos %}



    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          {% for slide in page.photos %}
          <li class="splide__slide"><img src="{{ slide }}" alt="" class="img-responsive"  width="100%"></li>
           
          {% endfor %}
          
          ...
        </ul>
      </div>
      
      <!-- Add the progress bar element -->
      <div class="my-slider-progress">
        <div class="my-slider-progress-bar"></div>
      </div>
    </div>
    
    <script>
      var splide = new Splide( '.splide' );
      var bar    = splide.root.querySelector( '.my-carousel-progress-bar' );
      
      // Updates the bar width whenever the carousel moves:
      splide.on( 'mounted move', function () {
        var end  = splide.Components.Controller.getEnd() + 1;
        var rate = Math.min( ( splide.index + 1 ) / end, 1 );
        bar.style.width = String( 100 * rate ) + '%';
      } );
      
      splide.mount();
    </script>
      {% endif %}
    <div class="col-12 col-md-5">
      <div class="pb-2 pt-0 pt-md-2 pb-md-2">
      <h1 class="">{{page.title}}</h1>
      <p>{{ page.description}}</p>
      <h3 class="card-subtitle mb-2"><del class="text-muted"> ₹{{page.priceBefore}}</del> <mark> ₹{{page.priceAfter}} </mark></h3>
      <!-- <p class="card-text service service-summary">{{ product.content | markdownify | strip_html | truncate: 100 }}</p> -->
      {% if page.stock %}
      {% if page.stock == 0 %} <button class="btn btn-disabled" disabled>Sold Out</button>{% endif %}
      {% if page.stock >= 1 %} <a href="#" class="btn btn-primary">Order Now</a> {% endif %}
      {% endif %}
      <a href="#" class="btn btn-info">Share with a friend</a>
      </div>
      <p><span class="badge badge-dark">OFFER</span> Free same day delivery !</p>
      {% if page.stock %}
      
      {% if page.stock == 0 %}
      <p><mark> Hurry</mark> Only 7 Units in stock</p>
      {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="row justify-content-start pb-2 pt-5 pt-md-5 pb-md-5">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
</div>